In [1]:
import pandas as pd
import numpy as np
import streamlit as st
import os

In [2]:
os.chdir('/home/anderson/Downloads/7. Vendas/')

In [3]:
os.listdir()

['Cadastro Clientes.xlsx',
 'Base Vendas - 2021.xlsx',
 'Base Vendas - 2022.xlsx',
 'Base Vendas - 2020.xlsx',
 'Cadastro Localidades.xlsx',
 'Cadastro Lojas.xlsx',
 'Cadastro Produtos.xlsx',
 'Base Devoluções.xlsx']

In [4]:
df_vendas2020 = pd.read_excel('/home/anderson/Downloads/7. Vendas/Base Vendas - 2020.xlsx')
df_vendas2021 = pd.read_excel('/home/anderson/Downloads/7. Vendas/Base Vendas - 2021.xlsx')
df_vendas2022 = pd.read_excel('/home/anderson/Downloads/7. Vendas/Base Vendas - 2022.xlsx')
df_clientes = pd.read_excel('/home/anderson/Downloads/7. Vendas/Cadastro Clientes.xlsx')
df_lojas = pd.read_excel('/home/anderson/Downloads/7. Vendas/Cadastro Lojas.xlsx')
df_produtos = pd.read_excel('/home/anderson/Downloads/7. Vendas/Cadastro Produtos.xlsx')
df_localidades = pd.read_excel('/home/anderson/Downloads/7. Vendas/Cadastro Localidades.xlsx')

In [5]:
df_vendas = pd.concat([df_vendas2020, df_vendas2021, df_vendas2022])

In [6]:
df_vendas.head()

  Data da Venda Ordem de Compra   SKU  ID Cliente  Qtd Vendida  ID Loja
0    2020-01-01         SO45080  HL59       14657            1      101
1    2020-01-01         SO45079  HL45       29255            1      122
2    2020-01-01         SO45082  HL71       11455            1      200
3    2020-01-01         SO45081  HL62       26782            1      200
4    2020-01-02         SO45083  HL45       14947            1      199

In [7]:
df_clientes = pd.read_excel('/home/anderson/Downloads/7. Vendas/Cadastro Clientes.xlsx', header=2)
df_clientes.head()

,ID Cliente,Primeiro Nome,Sobrenome,Email,Genero,Data Nascimento,Estado Civil,Num Filhos,Nivel Escolar,Documento,Unnamed: 10,Unnamed: 11
0,11000,STHEFESON,PEREIRA,sthefeson8@icloud.com,M,4/8/1966,C,2,Superior Completo,80912350,NaN,NaN
1,11001,ANTONIO,MANHÃES,antonio19@hotmail.com.br,M,5/14/1965,S,3,Superior Completo,18106981686,NaN,NaN
2,11002,BIANCA,PAZ,bianca53@live.com.br,F,8/12/1965,C,3,Superior Completo,77468986692,NaN,NaN
3,11003,SILVIO,FAHRNHOLZ,silvio21@hotmail.com.br,M,2/15/1968,S,0,Superior Completo,28009530521,NaN,NaN
4,11004,LUIZA,CABRAL,luiza70@msn.com,F,8/8/1968,S,5,Superior Completo,16316472002,NaN,NaN

In [8]:
df_vendas = df_vendas.merge(df_clientes, how='inner')

In [9]:
df_vendas.head()

,Data da Venda,Ordem de Compra,SKU,ID Cliente,Qtd Vendida,ID Loja,Primeiro Nome,Sobrenome,Email,Genero,Data Nascimento,Estado Civil,Num Filhos,Nivel Escolar,Documento,Unnamed: 10,Unnamed: 11
0,2020-01-01,SO45080,HL59,14657,1,101,BUCKY,DREWETT,bdrewettg9@goo.ne.jp,M,1/19/1984,C,1,Superior Incompleto,37622634097,NaN,NaN
1,2022-01-09,SO61768,HL172,14657,2,60,BUCKY,DREWETT,bdrewettg9@goo.ne.jp,M,1/19/1984,C,1,Superior Incompleto,37622634097,NaN,NaN
2,2022-01-09,SO61768,HL2,14657,1,157,BUCKY,DREWETT,bdrewettg9@goo.ne.jp,M,1/19/1984,C,1,Superior Incompleto,37622634097,NaN,NaN
3,2022-01-09,SO61768,HL73,14657,1,180,BUCKY,DREWETT,bdrewettg9@goo.ne.jp,M,1/19/1984,C,1,Superior Incompleto,37622634097,NaN,NaN
4,2020-01-01,SO45079,HL45,29255,1,122,DENA,VALLOW,dvallowpq@ebay.co.uk,F,6/18/1980,S,3,Superior Incompleto,42298098071,NaN,NaN

In [10]:
df_vendas = df_vendas.merge(df_lojas, how = 'inner')
df_vendas.head()

,Data da Venda,Ordem de Compra,SKU,ID Cliente,Qtd Vendida,ID Loja,Primeiro Nome,Sobrenome,Email,Genero,...,Nivel Escolar,Documento,Unnamed: 10,Unnamed: 11,Nome da Loja,Quantidade Colaboradores,Tipo,id Localidade,Gerente Loja,Documento Gerente
0,2020-01-01,SO45080,HL59,14657,1,101,BUCKY,DREWETT,bdrewettg9@goo.ne.jp,M,...,Superior Incompleto,37622634097,NaN,NaN,Loja Miami No.1,17,Física,1,"Lemos, Adrielle",665062470
1,2021-11-06,SO57521,HL165,11756,2,101,ALON,GUEDES,alon69@yahoo.com.br,M,...,Superior Completo,32601835434,NaN,NaN,Loja Miami No.1,17,Física,1,"Lemos, Adrielle",665062470
2,2020-02-07,SO45387,HL43,11224,1,101,NICOLAS,MONTEIRO,nicolas12@uol.com.br,M,...,Ensino Médio Completo,82771919079,NaN,NaN,Loja Miami No.1,17,Física,1,"Lemos, Adrielle",665062470
3,2020-02-07,SO45389,HL43,11090,1,101,EDUARDO,SOARES,eduardo10@gmail.com,M,...,Superior Incompleto,479427747,NaN,NaN,Loja Miami No.1,17,Física,1,"Lemos, Adrielle",665062470
4,2020-02-11,SO45413,HL45,11191,1,101,FABIO,RAMOS,fabio62@outlook.com,M,...,Superior Completo,46950145978,NaN,NaN,Loja Miami No.1,17,Física,1,"Lemos, Adrielle",665062470

In [11]:
pd.set_option('display.max_columns', None)

In [12]:
df_vendas = df_vendas.merge(df_produtos, how='inner')
df_vendas.head()

,Data da Venda,Ordem de Compra,SKU,ID Cliente,Qtd Vendida,ID Loja,Primeiro Nome,Sobrenome,Email,Genero,Data Nascimento,Estado Civil,Num Filhos,Nivel Escolar,Documento,Unnamed: 10,Unnamed: 11,Nome da Loja,Quantidade Colaboradores,Tipo,id Localidade,Gerente Loja,Documento Gerente,Produto,Marca,Tipo do Produto,Preço Unitario,Custo Unitario,Observação
0,2020-01-01,SO45080,HL59,14657,1,101,BUCKY,DREWETT,bdrewettg9@goo.ne.jp,M,1/19/1984,C,1,Superior Incompleto,37622634097,NaN,NaN,Loja Miami No.1,17,Física,1,"Lemos, Adrielle",665062470,iPhone SE 256GB - Preto,Apple,Celular,579.0,115.8,NaN
1,2020-06-12,SO46469,HL59,19033,1,36,TOWN,MORTER,tmorterog@example.com,M,11/9/1981,S,2,Superior Incompleto,78698623210,NaN,NaN,Loja Denver No.3,33,Física,1,"Goncalves, Amanda",137497733,iPhone SE 256GB - Preto,Apple,Celular,579.0,115.8,NaN
2,2020-09-30,SO47652,HL59,20825,1,200,AILE,GREASTY,agreastyho@nasa.gov,F,2/10/1969,C,1,Pós Graduação,15000641932,NaN,NaN,Loja Catalog,120,Física,1,"Barbosa, Adriano",797635524,iPhone SE 256GB - Preto,Apple,Celular,579.0,115.8,NaN
3,2020-10-07,SO47774,HL59,15346,1,200,ERICH,NEEVES,eneeves79@ebay.com,M,5/21/1976,S,4,Superior Incompleto,63184720548,NaN,NaN,Loja Catalog,120,Física,1,"Barbosa, Adriano",797635524,iPhone SE 256GB - Preto,Apple,Celular,579.0,115.8,NaN
4,2021-05-17,SO50507,HL59,27366,1,200,EDIN,WASSUNG,ewassung1v@photobucket.com,F,6/17/1996,S,0,Ensino Médio Completo,38677659724,NaN,NaN,Loja Catalog,120,Física,1,"Barbosa, Adriano",797635524,iPhone SE 256GB - Preto,Apple,Celular,579.0,115.8,NaN

In [13]:
df_vendas.columns

Index(['Data da Venda', 'Ordem de Compra', 'SKU', 'ID Cliente', 'Qtd Vendida',
       'ID Loja', 'Primeiro Nome', 'Sobrenome', 'Email', 'Genero',
       'Data Nascimento', 'Estado Civil', 'Num Filhos', 'Nivel Escolar',
       'Documento', 'Unnamed: 10', 'Unnamed: 11', 'Nome da Loja',
       'Quantidade Colaboradores', 'Tipo', 'id Localidade', 'Gerente Loja',
       'Documento Gerente', 'Produto', 'Marca', 'Tipo do Produto',
       'Preço Unitario', 'Custo Unitario', 'Observação'],
      dtype='object')

In [14]:
#df_vendas.to_excel('/home/anderson/Documentos/df_vendas_dashboard.xlsx')

In [15]:
for column in df_vendas.columns:
    print(f"dados['{column}'].unique()")

dados['Data da Venda'].unique()
dados['Ordem de Compra'].unique()
dados['SKU'].unique()
dados['ID Cliente'].unique()
dados['Qtd Vendida'].unique()
dados['ID Loja'].unique()
dados['Primeiro Nome'].unique()
dados['Sobrenome'].unique()
dados['Email'].unique()
dados['Genero'].unique()
dados['Data Nascimento'].unique()
dados['Estado Civil'].unique()
dados['Num Filhos'].unique()
dados['Nivel Escolar'].unique()
dados['Documento'].unique()
dados['Unnamed: 10'].unique()
dados['Unnamed: 11'].unique()
dados['Nome da Loja'].unique()
dados['Quantidade Colaboradores'].unique()
dados['Tipo'].unique()
dados['id Localidade'].unique()
dados['Gerente Loja'].unique()
dados['Documento Gerente'].unique()
dados['Produto'].unique()
dados['Marca'].unique()
dados['Tipo do Produto'].unique()
dados['Preço Unitario'].unique()
dados['Custo Unitario'].unique()
dados['Observação'].unique()

In [25]:
df_vendas.groupby(['Data da Venda','Nome da Loja']).sum().reset_index()

,Data da Venda,Nome da Loja,Ordem de Compra,SKU,ID Cliente,Qtd Vendida,ID Loja,Primeiro Nome,Sobrenome,Email,Genero,Data Nascimento,Estado Civil,Num Filhos,Nivel Escolar,Documento,Unnamed: 10,Unnamed: 11,Quantidade Colaboradores,Tipo,id Localidade,Gerente Loja,Documento Gerente,Produto,Marca,Tipo do Produto,Preço Unitario,Custo Unitario,Observação
0,2020-01-01,Loja Catalog,SO45081SO45082,HL62HL71,38237,2,400,WINIFREDTHOMÁZ,GURRADORODRIGUEZ,wgurradodq@gov.ukthomáz63@hotmail.com,FM,12/3/20056/29/1999,SC,0,Ensino Médio CompletoEnsino Médio Completo,100759851514,0,0,240,FísicaFísica,2,"Barbosa, AdrianoBarbosa, Adriano",1595271048,iPhone 12 Pro Max 512GB - PretoiPhone 12 Mini ...,AppleApple,CelularCelular,1798.00,477.5,0
1,2020-01-01,Loja Miami No.1,SO45080,HL59,14657,1,101,BUCKY,DREWETT,bdrewettg9@goo.ne.jp,M,1/19/1984,C,1,Superior Incompleto,37622634097,0,0,17,Física,1,"Lemos, Adrielle",665062470,iPhone SE 256GB - Preto,Apple,Celular,579.00,115.8,0
2,2020-01-01,Loja Oswego,SO45079,HL45,29255,1,122,DENA,VALLOW,dvallowpq@ebay.co.uk,F,6/18/1980,S,3,Superior Incompleto,42298098071,0,0,22,Física,1,"Felipe, Fillipe",485593871,iPhone 13 Pro Max 512GB - Vermelho,Apple,Celular,1399.00,377.7,0
3,2020-01-02,Loja Edinburgh,SO45084,HL43,29143,1,202,VIOLET,JOBBINS,vjobbinsmo@google.com,F,5/24/1987,S,1,Superior Completo,64458489,0,0,25,Física,3,"Gonçalves, Larissa",24501346,iPhone 13 Pro Max 128GB - Preto,Apple,Celular,1099.00,329.7,0
4,2020-01-02,Loja Europe Online,SO45085,HL45,18746,1,306,THEO,PEARTREE,tpeartreegm@uol.com.br,M,1/23/1983,S,1,Superior Incompleto,75933920910,0,0,7,Online,6,"Noronha, Lorena",18399404,iPhone 13 Pro Max 512GB - Vermelho,Apple,Celular,1399.00,377.7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29604,2022-06-30,Loja Waukesha No.1,SO74140,HL164,24757,3,50,JAIMIE,ASEL,jaseldx@dailymotion.com,F,3/20/1983,C,1,Superior Incompleto,79236341482,0,0,19,Física,1,"Nohara, Lorena",749372644,Mouse sem fio MO251 2.4 Ghz - Preto,Multilaser,Mouse,4.99,1.2,0
29605,2022-06-30,Loja Waukesha No.2,SO74124,HL225,21676,2,54,ISIS,GOLDSBURY,igoldsburyd4@google.it,F,9/14/1996,S,0,Ensino Médio Incompleto,44715265912,0,0,17,Física,1,"Oliveira, Poline",996214585,Mouse USB MS 111P - Preto,Dell,Mouse,14.99,4.6,0
29606,2022-06-30,Loja Westminster,SO74142,HL177,22253,1,22,RORI,TERRILL,rterrill15@spiegel.de,F,4/16/1995,C,2,Pós Graduação,11741125211,0,0,22,Física,2,"Andrade, Lucas",398404937,Casaco Hashtag Eletro Bebê - Amarelo,Hashtag,Casaco,12.90,6.1,0
29607,2022-06-30,Loja Wheat Ridge,SO74104,HL6,20807,2,21,VENITA,BURGH,vburghh6@springer.com,F,9/9/1980,C,2,Superior Incompleto,77458246579,0,0,47,Física,1,"Santos, Audir",658086597,"Camisa Hashtag Eletro Masculina, G - Branco",Hashtag,Camisa,25.00,11.0,0
29608,2022-06-30,Loja Worcester No.1,SO74105,HL164,20223,2,147,CHRISTIAN,BOLDOCK,cboldock1a@wired.com,M,12/15/1992,C,5,Superior Completo,22799841426,0,0,25,Física,1,"Lima, Adrielle",223486932,Mouse sem fio MO251 2.4 Ghz - Preto,Multilaser,Mouse,4.99,1.2,0

In [26]:
min(df_vendas['Data da Venda'])

Timestamp('2020-01-01 00:00:00')